body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
}
.formulaire{
    
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 360px;
    margin: 50px auto;
    text-align: center; 
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;

}
h1{
    color: blue;
    margin-bottom: 0;
}
.hr{
    background-color: #ccc
    ;
    width: 250px;
    height: 2px;
    margin: 5px auto 5px auto;
}
input{
    display: block;
    margin: 8px auto 5px auto ;
    padding: 10px;
    width: 245px;
    border: 1px solid blue;
    border-radius: 6px;
    outline: none;
    
    
}
.over:hover{
    width:250px ;
    border: 1px solid blue ;
}
span{
    margin: 10px auto;
    color: rgb(246, 19, 151);
    font-size: 13px;
}
textarea{
    padding: 10px;
    margin: 10px auto 0 auto;
    border: 1px solid blue;
    outline: none;
}
button{
    padding: 15px;
    margin:10px auto ;
    width: 245px;
    color: #fff;
    background-color: blue;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid blue;
    font-size: 12px;
}
button:hover{
width: 250px;
background-color: rgb(246, 19, 19);
font-size: 16px;
color: #fff;
border: 1px solid rgb(246, 19, 19);

}
p{
    font-size: 12px;

}
p a{
    text-decoration: none;
    font-weight:bold ;

}
p a:hover{
color:rgb(246, 19, 19) ;
}